.wrapper{
	width:100%;
	
	
	height:1000px;
	border:1px solid black;
	box-sizing:border-box;
}
.top{
	width:100%;
	height:100px;
	border:1px solid black;	
	box-sizing:border-box;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-size:100px;
	font-weight:bold;
	background-color:#7DDA58;
}


.top1{
	width:100%;
	height:100px;
	border:1px solid black;
	box-sizing:border-box;
	background-color:#98F5F9;	
	font-size:30px;
	justify-content:center;
	align-items:center;
	display:flex;
	font-weight:bold;
	color:#060270;
	word-spacing:20px;
}

.middle{
	width:100%;
	height:600px;
	border:1px solid black;
	box-sizing:border-box;	
	background-color:#E8C3F2;
}

.bottom{
	width:100%;
	height:200px;
	border:1px solid black;	
	box-sizing:border-box;
	background-color:black;
	color:white;
	font-size:25px;
	text-align:center;
}




	.side1{
	width:25%;
	height:600px;
	min-width:10%;
	min-height:600px;
	border:1px solid black;	
	box-sizing:border-box;
float:left;
background-image:url("hire.jpg");
background-size:cover;
background-repeat:no-repeat;
overflow-x:scroll;
}








.side-wrapper{
	width:75%;
	height:600px;
	border:1px solid red;	
box-sizing:border-box;	
float:right;

}
.side2{
	width:67%;
	height:600px;
	border:1px solid black;	
	box-sizing:border-box;
	float:left;
	overflow-y:scroll;
	background-color:gray;
	color:green;
	font-weight:bold;
	overflow-x:scroll;
}

.side3{
	width:33%;
	height:600px;
	border:1px solid black;	
	box-sizing:border-box;
	float:right;
	background-image:url("hire.jpg");url("hire.jpg");
	background-size:cover;
	background-repeat:no-repeat;
overflow-x:scroll;
}