.container{
	border:0px;
	background-color:#D8DBCE;
	height:1200px;
	width:100%;
	box-sizing: border-box;
}

.header{
	height:200px;
	width:100%;
	border:0px;
	box-sizing: border-box;
	background-color:green;
}

.logo{
	height:200px;
	width:30%;
	background-image:url("ratul1.jpg");
	background-size:cover;
	float:left;
}

.menu{
	height:80px;
	width:50%;
	display:flex;
	margin-top:100px;

	float:right;
	text-align:center;
	justify-content:center;
	box-sizing:border-box;
	
	transition:1s;
	}
.menu a{
	padding: 12px 24px;

	text-decoration:none;
	margin:15px;
	color:white;
	font-weight:bold;
	background-color:#CC6CE7;
	border-radius:5px;
}	

.menu a:hover{
	background-color:#E2EAF4;
	color:black;
	border-radius:5px;
}
	
	
.main{
	height:800px;
	width:100%;
	border:0px;
	box-sizing: border-box;
}


.footer{
	height:100px;
	width:100%;
	border:0px;
	box-sizing: border-box;
}

.side-left{
	height:800px;
	width:33.33%;
	border:0px;
	float:left;
	box-sizing: border-box;
}


.side-divition{
	height:800px;
	width:66.66%;
	float:right;
	border:0px;
box-sizing: border-box;
	
}
.side-middle{
	height:800px;
	width:50%;
	border:1px solid red;
	text-align:left;
	float:left;
	border:0px;
	box-sizing: border-box;
	background-color:#FFFFFF;
	text-align:center;
	color:#060270;
	font-weight:bold;
	font-size:25px;
	overflow-y:scroll;
}

.side-right{
	height:800px;
	width:50%;
	border:1px solid red;
	float:right;
	border:0px;
	box-sizing: border-box;
}
.left-up-button{
	width:100%;
	height:266.66px;

box-sizing:border-box;
border:0px;
justify-content:center;
align-items: center; 
display:grid;/*উপরে নিচে ফাকা হবে*/
gap: 30px; 


}
.left-up-button a{
	margin:30px;/*পাশাপাশি ফাকা হবে*/

}
.left-up-button  button:hover{
	background-color:#CC6CE7;
	color:white;
	
	border-radius:5px;
}


.image{
	height:266.66px;
	width:100%;
	background-image:url("image.jpg");
	background-size:cover;
border:0px;
		height:266.66px;
	width:100%;
	box-sizing:border-box;
}

.left-down-button{
	width:100%;
	height:266.66px;

border:0px;
display:grid;
justify-content:center;
align-items: center;
}

.left-down-button a{
	margin:30px;
	padding:25px;

}

.left-down-button button:hover{
	background-color:#CC6CE7;
	color:white;
	border-radius:5px;
}

.right-up-button{
	height:266.66px;
	width:100%;
	display:grid;
	align-items:center;
	box-sizing:boder-box;
	justify-content:center;
	transition:1s;
}




.right-down-button{
		height:266.66px;
	width:100%;
	box-sizing:border-box;
	display:grid;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
}

.right-up-button a{
	margin:30px;
	
}

.right-up-button button:hover{
	color:white;
	background-color:#CC6CE7;
	border-radius:5px;
	border-radius:5px;
}

.right-down-button a{
	margin:30px;
	padding:25px;
	
}

.right-down-button button:hover{
	color:white;
	background-color:#CC6CE7;
	border-radius:5px;
}

.footer{
	background-color:black;
	height:200px;
	width:100%;
	text-align:center;
	justify-content:center;
	color:white;
	font-weight:bold;
	align-items:center;
	display:grid;
	font-size:20px;
}

