.wrapper{
    
    height: 1100px;
    width: 100%;
   

}

.header{
      
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    background-color:azure;
    text-align:center;
    font-size:100px;
    gap:70px;
    justify-content: center;
    display:flex;
    align-items:center;
}

.main{
       
    height: 700px;
    width: 100%;
    box-sizing: border-box;
}

.footer{
       
    height: 200px;
    width: 100%;
    box-sizing: border-box;
      background-color:rgb(0, 0, 0);
	  color:white;
	  display:grid;
	  font-size:25px;
	  align-items:center;
	  justify-content:center;
}

.left-side{
     display: grid;
    float:left;
    width: 60%;
    height:700px;
    box-sizing: border-box;
   
    background-color:antiquewhite;
}

.right-side{
    float:right;
    width: 40%;
    height:700px;
    box-sizing: border-box;
    
    text-align:left;
    font-size:15px;
   display: grid;
   align-items: center;
   justify-content: center;
   font-size:17px;
   background-color:bisque;
}

.frame1{
  background-color:rgb(117, 116, 114);
    margin-top:30px;
    width: 100%;
    height:300px;
    box-sizing: border-box;
}


.frame2{
     background-color:rgb(117, 116, 114);
    margin-bottom:0px;
    width: 100%;
    height:300px;
    box-sizing: border-box;
}

